@media only screen and (max-width: 500px) {
    #header-hero{
        padding: 1rem 1.875rem;

        background-image: url(../images/sites-touristiques/site-touristique-initial-mobile.png);
    }

    #site-touristique-credits{
        left: 50%;

        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #site-touristique-credits span{
        text-align: center;
        width: 100%;
    }

    #infobox-2{
        top: 17rem;
    }

    #infobox-1,#infobox-3{
        display: none;
    }

    #selected-articles-box{
        transform: translateY(-10%);

        margin: 0rem 1.875rem;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0rem;
        grid-row-gap: 4rem;
    }

    .selected-article:nth-last-of-type(2){
        position: relative;
    }

    .selected-article:nth-last-of-type(2)::before,
    .selected-article:nth-last-of-type(2)::after{
        content: "";

        position: absolute;
        left: 0%;
        
        height: 0.09375rem;
        width: 100%;
        
        background-color: var(--gray500);
    }
    
    .selected-article:nth-last-of-type(2)::before{
        toP: -12%;
    }

    .selected-article:nth-last-of-type(2)::after{
        bottom: -12%;
    }

    #portraits-section{
        padding: 0rem 1.875rem;
    }

    .portraits-grid:not(.portraits-grid:nth-of-type(2)){
        display: none;
    }

    .portrait-element.active{
        transform: translateX(10%);
    }

    .portrait-element:nth-of-type(2){
        transform: translateX(50%);
    }

    .second-element{
        transform: translateX(0%);
    }

    #portraits-presentation{
        width: 90%;
    }

    #survey-section{
        padding: 0rem 1.875rem;
    }

    .choices-row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .form-footer{
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }

    .form-footer p {
        width: 100%;
    }

    #to-transition-section{
        padding: 3.5rem 1.875rem;

        flex-direction: column;
    }

    #about-section{
        padding: 3.5rem 1.875rem;
    }

    .accordeon-row{
        flex-direction: column;

        align-items: center;
    }

    .accordeon-title{
        width: 100%;
    }

    .accordeon-data{
        width: 100%;
        height: 0px;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 1.2rem;
    }

    .accordeon-row.active .accordeon-data{
        height: auto;
    }

    .accordeon-data-part{
        margin-top: 2rem;
    }

    .accordeon-row.active .accordeon-data-part {
        gap: .7rem;
    }

    .accordeon-data-part h3,
    .accordeon-data-part p{
        display: none;
    }

    .accordeon-row.active .accordeon-data-part h3,
    .accordeon-row.active .accordeon-data-part p{
        display: block;
    }

    #quote-section{
        flex-direction: column;

        padding: 0rem 3rem;
    }

    #staff-carousel-section{
        padding: 0rem .875rem;
    }

    #carousel-container{
        grid-template-columns: 1fr;
        grid-column-gap: 0rem;
        grid-row-gap: 1.875rem;
    }

    #contact-us-section{
        padding: 0rem 1.875rem;

        grid-template-columns: 1fr;
    }

    #contact-us-left-part{
        height: auto;
    }

    #contact-us-external-link-container{
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
    }

    .contact-external{
        grid-gap: 3rem;
    }

    .secondary-btn{
        font-size: .868rem;
    }
}

@media only screen and (max-width: 425px) {
    h2{
        font-size: var(--title-2-medium-font-size);
    }
    #selected-articles-box{
        margin: 0rem 1rem;
    }

    .selected-article-publication-data span,
    .article-tags-listing li a{
        font-size: var(--footnote-medium-font-size);
    }

    #portraits-section {
        padding: 0rem 1rem;
    }
}

@media only screen and (max-width: 375px){
    .btn{
        padding: 0.625rem 1rem;
    }
    
    .btn.primary-btn{
        font-size: 13px;
    }

    .btn.primary-btn i{
        font-size: 1.3rem;
    }

    .information-box{
        width: 85%;
    }

    #site-touristique-credits.top-right,
    #site-touristique-credits.top-left{
        font-size: 14px;

        transform: translateX(-50%);
        left: 50%;

        width: 100%;
    }

    .site-touristique-info{
        width: 100%;
    }

    #selected-articles-box {
        transform: translateY(-5%);
    }

    .selected-article-head-side
    {
        justify-content: center;
    }

    .selected-article-head{
        grid-template-columns: 1fr;
        grid-template-rows: 68% 32%;
        grid-row-gap: 1rem;
    }

    .selected-article:nth-last-of-type(2)::before {
        toP: -6%;
    }

    .selected-article:nth-last-of-type(2)::after {
        bottom: -6%;
    }

    .portrait-picture{
        height: 10rem;
        width: 10rem;
    }

    #portraits-presentation p,
    .form-footer p{
        font-size: 1rem;
    }

    .choices-row{
        gap: 0.875rem;
    }

    .survey-choice-label{
        padding: .3125rem 0.875rem;

        gap: 0.5rem;

        font-size: 0.9375rem;
    }

    .label-divider{
        display: none;
    }

    /* .form-footer{
        border: 2px solid black;
    } */

    .about-photography{
        width: 8rem;
        height: 8rem;
    }
    

    #staff-carousel-section{
        align-items: center;
    }

    .carousel-controler{
        display: none;
    }

    #contact-us-section{
        /* border: 2px solid black; */
        padding: 0rem 1rem;
        grid-template-columns: 1fr;
    }

    #contact-us-left-part{
        width: 100%;

        padding: 1.7rem;
    }

    #contact-us-form{
        padding: 1.7rem;
        gap: 2rem;
    }

    #contact-us-left-part p{
        font-size: 14px;
    }

    .btn.secondary-btn {
        padding: 0.9375rem;

        font-size: 13px;
    }

    .contact-form-part:not(.contact-form-part:last-of-type){
        height: 3.75rem;
    }

    .contact-form-part label,
    .contact-form-part input,
    .contact-form-part textarea{
        font-size: 14px;
    }
}
